{% extends "layout.html" %}
{% block body %}
<h2>Import a script</h2>
<!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
<div class=streamer>
    <form  enctype=multipart/form-data method=post>
        file: <input type="file" name="script">
        <br/>
        <br/>

        <input type="radio" name="overwrite" value=0 checked> do not overwrite <br>
        <input type="radio" name="overwrite" value=1> overwrite <br>
        <input type="submit" value="load"> 
    </form>
</div>
{% endblock %}
