{% extends "layout.html" %}
{% block body %}
<h2>Sorting</h2>
<!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
<div class=sorter>
    <form method=post>

        <select name='dataset'>

            {% for d in datasets %} 
            <option value="{{d}}", {% if (d == dset) %} selected {%endif%}> {{d}} </option>
            {% endfor %}

        </select>
        <input name="post" type="submit" value="sort this">

        <textarea cols=150 rows=5>{{tweet_text}}</textarea>
        <br/>
        <br/>
        <input name="submit" type="submit" value="1"> 
        <input name="submit" type="submit" value="2"> 
        <input name="submit" type="submit" value="3"> 
        <input name="submit" type="submit" value="4"> 
        <input name="submit" type="submit" value="5"> 
    </form>
</div>
{% endblock %}
