{% extends "layout.html" %}
{% block body %}
<h2>Data Viewer</h2>
<!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
<div class=viewpane>


    <form method="post">

    <div class="optionpane">

        <div class="selection">

            <select name='dataset'>

                {% for d in datasets %} 
                <option value="{{d}}" {% if d == sdataset %} selected {% endif %}> {{d}} </option>
                {% endfor %}

            </select>
            <input type='submit' value="run">

        </div>

        <div class="lists">

            <ul> 
                {% for f in filters %}
                <li> <input type="checkbox" name="filter" id="checkid_{{loop.index}}" value="{{f}}" {% if f in sfilters %} checked {% endif %}> <label for="checkid_{{loop.index}}"> {{f}} </label></li>
                {%endfor%}
            </ul>

            <ul> 
                <li> <input type="radio" name="metas" id="metaid_0" value="tweet" {% if ( (smeta == 'tweet') or (smeta == '') ) %} checked {%endif%} > <label for="metaid_0"> tweet </label></li>
                <li> <input type="radio" name="metas" id="metaid_1" value="user" {% if (smeta == 'user') %} checked {%endif%} > <label for="metaid_1"> user </label></li>
                <li> <input type="radio" name="metas" id="metaid_2" value="time" {% if (smeta == 'time') %} checked {%endif%} > <label for="metaid_2"> time </label></li>
                <li> <input type="radio" name="metas" id="metaid_3" value="id" {% if (smeta == 'id') %} checked {%endif%} > <label for="metaid_3"> id </label></li>
                {%for m in metas %}
                <li> <input type="radio" name="metas" id="metaid_{{loop.index + 3}}" value="{{m}}" {% if (m == smeta) %} checked {% endif %} > <label for="metaid_{{loop.index + 3}}"> {{m}} </label></li>
                {% endfor %}
            </ul>

            <ul>
                {% for d in displays %}
                <li> <input type="radio" name="metas" id="displayid_{{loop.index}}" value={{d}} {% if (d == smeta) %} checked {% endif %} > <label for="displayid_{{loop.index}}"> {{d}} </label></li>
                {% endfor %}
            </ul>

        </div>
    </div>

        <textarea readonly> {{text}} </textarea>

    </form>


</div>
{% endblock %}
