{% extends "layout.html" %}
{% block body %}
<h2>Data Viewer</h2>
<!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
<div class=viewpane>

    <form method="post">
        <table cellpadding="0"> 
            <tr>
                <td>
                    <select name='dataset'>

                        {% for d in datasets %} 
                        <option value="{{d}}"> {{d}} </option>
                        {% endfor %}

                    </select>
                </td>
                <td>
                    <input type='submit' value="run">
                </td>
            </tr>
            <tr>
                <td>
                    <ul> 
                        {% for f in filters %}
                        <li> <input type="checkbox" name="filter" id="checkid_{{loop.index}}" value="{{f}}"> <label for="checkid_{{loop.index}}"> {{f}} </label></li>
                        {%endfor%}
                    </ul>
                </td>
                <td>
                    <ul> 
                        <li> <input type="radio" name="metas" id="metaid_0" value="tweet" checked > <label for="metaid_0"> tweet </label></li>
                        {%for m in metas %}
                        <li> <input type="radio" name="metas" id="metaid_{{loop.index}}" value="{{m}}"> <label for="metaid_{{loop.index}}"> {{m}} </label></li>
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    <textarea style="resize:none;" rows="30" cols="50" readonly> {{text}} </textarea>
                </td>

            </tr>
        </table>
    </form>


</div>
{% endblock %}
